.footer {
	position: relative;
	padding: 30px;

	.copyright {
		width: 100%;
		margin: 10px 0;
		text-align: right;

		a {
			color: inherit;
		}
	}
}

@media (min-width: 50em) {
	.footer {
		padding: 40px 50px;
	}
}

@media (min-width: 60em) {
	.footer {
		padding: 40px 5vw;
	}
}
