.tutor-video-player {
	@extend %video_embed;
}

.course_purchase {
	--block_colour: var(--page_colour);

	@extend %block;
	@include mixins.list_reset;
	margin-top: 20px;

	color: var.$colours_white;

	h2 {
		margin: 0;
		color: inherit;
	}

	form {
		padding: 20px 0;

		button {
			&:first-child {
				&:last-child {
					margin: 0;
				}
			}
		}
	}

	.tutor-btn {
		@include mixins.buttons(var.$colours_blue, var.$colours_white);

		&[value='complete_course'] {
			margin: 0;
		}

		margin: 20px 0;

		& + form {
			padding-top: 0;
		}
	}

	.amount {
		display: block;
		margin: 20px 0 0;
		color: var.$colours_white;
		font-family: var.$font_headings;
		font-size: 2em;
		font-weight: 800;
	}

	.tutor-modal {
		display: none;
	}

	.tutor-color-muted, .tutor-color-success {
		color: inherit;
	}

	.enrolment-expire-info, .update-info, .tutor-color-muted, .tutor-alert-text {
		display: flex;
		align-items: center;
		margin: 10px 0;

		i, *[class*='tutor-icon-'] {
			margin-right: 1ch;
		}

		span[class]:not(.tutor-enrolled-info-text) {
			&:last-child {
				margin-left: 1ch;
			}
		}
	}

	.tutor-row {
		display: flex;

		& > *:first-child {
			margin-right: 1ch;
		}
	}
}

.tutor_lesson_sidebar {
	@include mixins.list_reset;

	.topics {
		display: none;
	}

	&.open {
		.topics {
			display: block;
		}

		.hamburger {
			position: absolute;
			top: 40px;
			right: 20px;

			.open {
				display: none;
			}

			.close {
				display: block;
			}
		}
	}
}

.course_progress {
	margin: 0 0 20px;

	progress, label {
		display: block;
		text-align: center
	}

	progress {
		@include mixins.progress_bar();
		width: 100%;

		margin-top: 5px;
	}
}

.pagination {
	@include mixins.list_reset_internal;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	text-align: center;

	a {
		@include mixins.invert_link();
	}

	.return_course {
		width: 100%;
	}
}

.sidebar_toggle {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-color: transparent;
	background: none;

	svg {
		display: block;
		width: 100%;
		height: 100%;
		color: inherit;
	}

	.close {
		display: none;
	}

	&:hover {
		background: var(--page_colour);
		color: var.$colours_white;
	}
}

@media(min-width: 50em) {
	.course_purchase {
		margin-top: 60px;
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
