.block {
	@extend %block;
	@include mixins.list_reset;

	.testimonial {
		margin-top: 64px;
	}

	&:before {
		content: normal;
	}
}

.heading {
	@extend %heading;

	margin: 0;

	&:after {
		background: var.$colours_blue;
	}
}

.testimonial {
	display: flex;

	flex-wrap: wrap;
	align-items: flex-start;

	svg {
		flex: 0 0 auto;
		width: 25px;
		height: 25px;
		margin-right: 20px;
		color: var.$colours_blue;
	}

	blockquote {
		flex: 1 1 70%;
		max-width: unset;
		margin: 0;
		color: var.$colours_neutral_500;
		font-style: italic;
	}

	cite {
		display: block;
		margin-top: 16px;
		color: var.$colours_neutral_800;
		font-size: 0.727em;
		font-style: normal;
		font-weight: 500;
	}
}

.image {
	flex-shrink: 0;
	width: 200px;
	height: 200px;
	margin: 2em auto 0;
	border: 10px solid var.$colours_lavender;
	background: var.$colours_navy;

	img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
	}
}

@media(min-width: 50em) {
	.block {
		ul {
			max-width: mixins.max_width(100%, 0, 12);
		}
	}

	.testimonial {
		flex-wrap: nowrap;
	}

	.image {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 40px;
	}
}

@media(min-width: 70em) {
	.block {
		ul {
			max-width: mixins.max_width(100%, 0, 10);
		}
	}
}
