.content {
	@extend %content;

	.registration_form {
		:global(button[class*="tribe"]) {
			@include mixins.buttons(var.$colours_blue, var.$colours_white, var.$colours_blue);
		}
	}
}

.registration_form {
	margin-top: 40px;

	:global(.tribe-tickets__registration-actions) {
		display: none;
	}

	h1 {
		display: none;
	}

	:global(.tribe-common-form-control-radio__label input[type="radio"]) {
		position: static;
		width: 20px;
		height: 20px;
		margin-right: 14px;
		opacity: 1;
	}

	:global(.tribe-tickets__form.tribe-tickets__form .tribe-tickets__form-field--radio.tribe-tickets__form-field--radio) {
		display: block;
	}
}

@media(width >= 60em) {
	.registration_form {
		margin-top: 60px;
	}
}