.header {
	width: 100vw;
	margin-left: -20px;
	padding: 20px 20px 60px;
	background: var.$colours_navy;
	background: var(--page_colour);
	color: var.$colours_white;
}

.title {
	@include mixins.underline();

	margin: 0;
	margin-bottom: 20px;
	color: inherit;
}

.eyebrow {
	@include mixins.overline_text('l');
	margin: 0 0 1em;

	a {
		color: inherit;
		font-weight: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.excerpt {
	@include mixins.child_reset;
	@include mixins.subheading_text('s');

	a {
		color: inherit;
	}

	* {
		margin: 0;
		padding: 0;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		text-decoration: none;

		&:not(strong) {
			font-weight: inherit;
		}
	}
}

.graphic {
	display: none;
}

@media(min-width: 40em) {
	.header {
		position: relative;

		figure {
			margin-bottom: 40px;
		}
	}

	.title,
	.excerpt {
		max-width: mixins.max_width(100%, 0, 8);
	}

	.graphic {
		@include mixins.position(0, 20px, 0, auto);
		@include mixins.centre;

		position: absolute;
		width: mixins.max_width(100%, 0, 3);
		max-width: 150px;
	}
}

@media(min-width: 50em) {
	.header {
		margin-left: -60px;
		padding: 60px;

		figure {
			max-width: mixins.max_width(100%, 0, 9);
		}
	}

	.title {
		max-width: mixins.max_width(100%, 0, 6);
	}

	.excerpt {
		max-width: mixins.max_width(100%, 0, 9);
		@include mixins.subheading_text('l');
	}

	.graphic {
		right: 60px;
	}
}

@media(min-width: 60em) {
	.header {
		@include mixins.full_background();
		max-width: var.$max_width;
		margin: 0 auto 0 50%;
		transform: translateX(-50%);

		figure {
			max-width: mixins.max_width(100vw, 120px, 6);
			margin-bottom: 60px;
		}

		.graphic {
			max-width: 200px;
		}
	}

	.excerpt {
		max-width: mixins.max_width(100vw, 120px, 6);
	}
}

@media(min-width: var.$max_width) {
	.excerpt {
		max-width: mixins.max_width(var.$max_content, 120px, 6);
	}
}

@media(min-width: 70em) {
	.header {
		figure {
			margin-bottom: 0;
		}
	}

	.title {
		@include mixins.display_text('m');
	}
}

@media(min-width: 80em) {
	.title {
		@include mixins.display_text('l');
	}
}
