.block {
	@extend %block;

	display: flex;
	flex-wrap: wrap;

	> div {
		width: 100%;
	}
}

.cta {

	@extend %block_cta;
}

.heading {
	@extend %heading;
}

.eyebrow {
	@extend %eyebrow;

	margin: 60px 0 12px;
}

.content {
	@extend %block_content;
}

.collections {
	@include mixins.list_reset_internal;

	max-width: 348px;
	margin: 0 auto;
	padding: 0.01px;
	background: var.$colours_white;

	li {
		width: mixins.max_width(100vw, 76px, 12);
		max-width: 316px;
		height: mixins.max_width(100vw, 76px, 12);
		max-height: 316px;
		margin: 16px;
	}
}

.collection {
	position: relative;

	h3 {
		@include mixins.position(0, 16px, 16px, 16px);

		display: flex;
		position: absolute;
		align-items: flex-end;
		justify-content: flex-end;
		margin: 0;
		color: var.$colours_white;
		text-align: right;
	}

	a {
		@include mixins.block_link;
	}

	&:hover {
		div {
			&:after {
				content: normal;
			}
		}
	}
}

.image {
	height: 100%;
	overflow: hidden;

	&:after {
		@include mixins.position(0, 0, 0, 0);

		content: '';
		position: absolute;
		opacity: 0.3;
		background: linear-gradient(360deg, rgba(var.$colours_black, 0.3) 4.77%, var.$colours_black 50%);
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media(min-width: 30em) {
	.collections {
		display: flex;
		flex-wrap: wrap;
		max-width: 697px;
		margin-left: 0;

		li {
			width: mixins.max_width(100vw, 105px, 6);
			height: mixins.max_width(100vw, 105px, 6);
		}
	}
}

@media(min-width: 50em) {
	.block {
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: space-between;

		> div:not([class]) {
			flex: 1 1 auto;
			max-width: 300px;
		}
	}

	.container {
		flex: 2 1 auto;
		min-width: calc(40vw + (16px * 4) + 1px);
		max-width: unset;
		margin-left: 20px;
	}

	.eyebrow {
		margin-top: 0;
	}

	.collections {
		width: calc(40vw + (16px * 4) + 1px);
		max-width: calc(632px + (16px * 4) + 1px);

		li {
			width: 20vw;
			height: 20vw;
		}
	}
}

@media(min-width: 60em) {
	.block {
		> div:not([class]) {
			max-width: 380px;
		}
	}

	.container {
		margin-left: 60px;
	}
}

@media(min-width: 70em) {
	.container {
		margin-left: 100px;
	}
}

@supports(grid-template-areas: '.') {
	$max: 316px;

	.collections {
		display: grid;
		grid-auto-rows: minmax(calc(((100vw - 130px) / 12) * 4), math.div($max, 4));
		grid-column-gap: 16px;
		grid-template-columns: repeat(auto-fit, minmax(mixins.max_width(100vw, 76px, 12), $max));
		margin: 0 auto;
		padding: 16px;

		li {
			height: 100%;
			max-height: unset;
			margin: 0;

			&:not(:last-child) {
				height: calc(100% - 16px);
				margin-bottom: 16px;
			}
		}
	}

	.collection {
		grid-row: span 4;

		&:nth-child(2) {
			grid-row: span 6;
		}

		&:nth-child(3) {
			grid-row: span 5;
		}
	}

	@media(min-width: 30em) {
		.collections {
			grid-auto-rows: minmax(calc(((100vw - 130px) / 12) * 2), math.div($max, 4));
			grid-template-columns: repeat(2, minmax(mixins.max_width(100vw, 105px, 6), $max));
			margin-left: 0;
			background: none;

			li {
				position: relative;
				box-shadow: 0 10px 15px -3px rgba(16, 24, 40, 0.1),
					0 4px 6px -4px rgba(16, 24, 40, 0.1);

				&:before {
					@include mixins.position(-16px, -16px, -16px, -16px);

					content: '';
					position: absolute;
					z-index: -1;
					background: var.$colours_white;
				}
			}
		}
	}

	@media(min-width: 40em) {
		.collections {
			grid-auto-rows: minmax(100px, math.div($max, 4));
			grid-template-columns: repeat(2, 1fr);
			max-width: calc(632px + 48px);

			> li {
				width: 100%;
			}
		}
	}

	@media(min-width: 40em) {
		.collections {
			grid-auto-rows: math.div($max, 4);
			grid-template-columns: repeat(2, minmax(100px, $max));
			max-width: calc(632px + 48px);

			> li {
				width: 100%;
			}
		}
	}
}
