.content {
	@extend %content;
}

.date {
	@include mixins.overline_text;
	margin-top: 60px;

	color: var.$colours_primary_700;
}

.map {
	width: 100vw;
	height: 200px;

	a {
		width: 100%;
		height: 100%;
	}
}

.feature_heading {
	@include mixins.overline_text('l');
	margin: 24px 0;

	color: inherit;
	font-weight: 700;
}

.header {
	> div, > h1, > ul, > p {
		max-width: mixins.max_width(100%, 0, 10);
	}
}

.feature_list {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		width: 80px;
		height: 80px;
		margin: 10px;

		span {
			@include mixins.sr_only;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
		}

		&:hover {
			span {
				@include mixins.sr_only_remove;

				position: absolute;
				top: 50%;
				left: 50%;
				width: auto;
				padding: 5px 10px;
				background: var.$colours_black;
			}
		}
	}
}

.tickets {
	--block_colour: var(--page_colour);

	@extend %block;
	@include mixins.list_reset;

	color: var.$colours_white;

	h2 {
		margin: 0;
		color: inherit;
	}

	form {
		max-width: 500px;
		padding: 20px 0;

		button {
			margin-top: 40px;
		}

		input {
			&[type='number'] {
				width: calc(5ch + 30px);
			}
		}
	}

	li {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 10px;
	}
}

.ticket {
	@include mixins.overline_text('l');

	margin: 0 auto 0 0;
}

.price {
	@include mixins.overline_text('l');
	flex-shrink: 0;

	margin: 0 2ch;
}

@media(min-width: 40em) {
	.map {
		height: 300px;
	}
}

@media(min-width: 50em) {
	figure.map {
		width: 100vw;
		margin-left: -60px;
	}

	.map {
		img {
			object-fit: cover;
			object-position: center;
			max-height: 300px;
		}
	}

	.tickets {
		margin-top: 60px;
		padding-top: 60px;
		padding-bottom: 60px;

		ul {
			max-width: unset;
		}
	}
}

@media(min-width: 60em) {
	.map {
		height: 430px;

		img {
			max-height: 430px;
		}
	}
}

@media(min-width: var.$max_width) {
	figure.map {
		max-width: unset;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

@media(min-width: 2000px) {
	figure.map {
		background: var.$colours_navy;
		background: var(--page_colour);

		img {
			max-width: 2000px;
			margin: 0 auto;
		}
	}
}
