.content {
	@extend %content;

	blockquote {
		@include mixins.heading_text('h2');

		margin: 0;
		font-style: normal;
		font-weight: 700;
	}

	header {
		& + p,
		& + h2,
		& + blockquote {
			&:not([class]) {
				margin-top: 40px;
			}
		}
	}
}

.transcript {
	clear: both;

	summary {
		@include mixins.buttons(var.$colours_blue, var.$colours_white, var.$colours_blue);

		list-style: none;


		& + * {
			margin-top: 50px;
		}
	}
}

@media(min-width: 60em) {
	.content {
		header {
			& + p,
			& + h2,
			& + blockquote {
				&:not([class]) {
					margin-top: 60px;
				}
			}

			figure {
				max-width: mixins.max_width(100vw, 120px, 6);
			}
		}
	}
}

@media(min-width: var.$max_width) {
	.content {
		header {
			figure {
				max-width: mixins.max_width(var.$max_content, 120px, 6);
			}
		}
	}
}
