.tickets {
	--block_colour: var(--page_colour);

	@extend %block;
	@include mixins.list_reset;

	color: var.$colours_white;

	h2 {
		margin: 0;
		color: inherit;
	}

	form {
		max-width: 500px;
		padding: 20px 0;

		button {
			margin-top: 40px;
		}

		input {
			&[type='number'] {
				width: calc(5ch + 30px);
			}
		}
	}

	li {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 10px;
	}
}

.ticket {
	@include mixins.overline_text('l');

	margin: 0 auto 0 0;
}

.price {
	@include mixins.overline_text('l');
	flex-shrink: 0;

	margin: 0 2ch;
}

@media(min-width: 50em) {
	.tickets {
		margin-top: 60px;
		padding-top: 60px;
		padding-bottom: 60px;

		ul {
			max-width: unset;
		}
	}
}
