@mixin position($top: 0, $right: 0, $bottom: 0, $left: 0) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin centre() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin full_background($colour: inherit, $fallback_colour: $colour) {
	position: relative;

	&:before {
		@include position(0, auto, 0, 50%);

		content: '';
		position: absolute;
		z-index: -1;
		width: 100vw;
		transform: translateX(-50%);
		background: $fallback_colour;
		background: $colour;
	}
}
