@mixin position($top: 0, $right: 0, $bottom: 0, $left: 0) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin centre() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin full_background($colour: inherit, $fallback_colour: $colour) {
	position: relative;

	&:before {
		@include position(0, auto, 0, 50%);

		content: '';
		position: absolute;
		z-index: -1;
		width: 101vw;
		transform: translateX(-50%);
		background: $fallback_colour;
		background: $colour;
	}
}

@mixin child_reset {
	>* {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin aspect_ratio($width, $ratio, $max_width: 'unset') {
	width: $width;
	height: calc($width * $ratio);

	@if($max_width != 'unset') {
		max-width: $max_width;
		max-height: calc($max_width * $ratio);
	}

	@supports(aspect-ratio: 1) {
		aspect-ratio: $ratio;
	}
}

@mixin block_link() {
	&:before {
		@include position;

		content: '';
		position: absolute;
	}
}
