.block {
	@extend %block;
	@include mixins.full_background;

	display: flex;
	flex-wrap: wrap;
	background: var(--block_colour);

	&[data-newsletter='true'] {
		flex-wrap: nowrap;

		&:before {
			background: var.$colours_lavender;
		}

		.container {
			padding: 40px 20px;
			background: var.$colours_grey_light_warm;
			color: var.$colours_neutral_500;

			strong {
				color: var.$colours_navy;
			}

			h2 {
				color: var.$colours_navy;
			}
		}

		.image {
			display: none;
		}
	}
}

.image_block {
	.logo {
		background: var(--block_colour);
	}
}

.image {
	display: block;
	order: -1;
	width: 100vw;
	max-height: 350px;
	margin: -60px -20px 60px;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&.graphic {
		position: absolute;
		z-index: -1;
		top: 60px;
		right: 20px;
		width: 60vw;
		min-width: 300px;
		height: 60vw;
		min-height: 300px;
		margin: 0;
		opacity: 0.4;

		img {
			object-fit: contain;
		}
	}
}

.cta {
	@extend %block_cta;
	justify-content: flex-end;

	svg {
		color: var.$colours_yellow;
	}
}

.news_signup {
	label {
		@include mixins.sr_only;
	}

	form {
		@include mixins.drop_shadow_multiple('xl', 'xl', rgba(var.$colours_navy, 0.1));

		display: flex;
		margin-top: 40px;
		padding: 0;

		:global(.wpforms-submit-container) {
			margin: 0;
		}

		:global(.wpforms-field-container) {
			flex-grow: 1;
			margin: 0;
		}

		:global(.wpforms-field) {
			margin: 0;
		}

		input {
			padding: 10px 25px;
			border-color: var.$colours_white;
			background: var.$colours_white;
		}
	}

	button {
		@include mixins.button_colour(var.$colours_lavender, var.$colours_navy);
		margin: 0;

		padding: 12px;
		color: transparent;
		font-size: 0;

		&:after {
			content: '\f061';
			color: var.$colours_navy;
			font-family: var.$font_icons;
			font-size: 14px;
		}

		&:hover {
			&:after {
				color: var.$colours_lavender;
			}
		}
	}
}

.logo {
	width: 70px;
	height: 70px;
	margin: 0;
	padding: 10px;
	float: right;
	transform: translateX(40px) translateY(-60px);
	background: var.$colours_navy;
	color: var.$colours_white;

	svg {
		width: 100%;
		height: 100%;
	}
}

.heading {
	@extend %heading;

	margin-bottom: 24px;
	padding-bottom: 0;
	font-size: 1.75em;

	&:after {
		content: normal;
	}
}

.eyebrow {
	@extend %eyebrow;
}

.content {
	@extend %block_content;

	font-size: 0.875em;
}

@media(min-width: 30em) {
	.block {
		flex-wrap: nowrap;
		justify-content: center;
		background: var.$colours_grey_light_warm;

		&[data-newsletter='true'] {
			background: none;

			&:before {
				content: '';
				background: var.$colours_lavender;
			}

			.image {
				display: block;
				order: -1;
				max-height: unset;
				padding: 0;
				background: var.$colours_navy;
				color: var.$colours_lavender;

				svg {
					width: 110%;
					height: 100%;
					margin-left: calc(-1 * (10% + 20px));
				}
			}
		}
	}

	.image_block {
		.logo {
			position: absolute;
			top: 50px;
			right: 10px;
			transform: none;
		}
	}

	.image {
		flex-grow: 1;
		flex-shrink: 0;
		order: 2;
		width: 150px;
		max-width: 280px;
		height: auto;
		max-height: unset;
		margin: 0;
		box-shadow: 0 6.640px 9.961px -1.992px rgba(var.$colours_navy, 0.1),
			0 2.656px 3.984px -2.656px rgba(var.$colours_navy, 0.1);
	}

	.container {
		flex-grow: 2;
		max-width: 530px;
		padding: 50px 20px;
		background: var(--block_colour);
		box-shadow: 0 6.640px 9.961px -1.992px rgba(var.$colours_navy, 0.1),
			0 2.656px 3.984px -2.656px rgba(var.$colours_navy, 0.1);
	}
}

@media(min-width: 40em) {
	.block {
		padding: 60px 10vw;

		&[data-newsletter='true'] {
			.container {
				padding: 60px 30px;
			}

			.image {
				svg {
					width: 120%;
					margin-left: calc(-1 * (20% + 40px));
				}
			}
		}
	}

	.image_block {
		.logo {
			right: calc(10vw - 10px);
		}
	}

	.logo {
		transform: translateX(50px) translateY(-80px);
	}
}

@media(min-width: 50em) {
	.block {
		&[data-newsletter='true'] {
			h2 {
				font-size: 2.5em;
			}
		}
	}

	.logo {
		width: 100px;
		height: 100px;
	}

	.container {
		padding: 120px 32px;
	}
}

@media(min-width: 60em) {
	.block {
		padding: 120px 10vw;

		&[data-newsletter='true'] {
			padding-top: 140px;

			.image {
				svg {
					width: 300px;
					margin-left: -100px;
				}
			}

			.container {
				padding: 120px 32px;
			}
		}
	}

	.image_block {
		.logo {
			top: 100px;
		}
	}

	.logo {
		transform: translateX(50px) translateY(-140px);
	}

	.container {
		padding: 120px 32px;
	}
}

$max_block_width: 810px / 8 * 10;

@media(min-width: $max_block_width) {
	.image_block {
		.logo {
			right: calc(10vw + ((80vw - 810px) / 2) - 20px);
		}
	}
}

@media(min-width: var.$max_width) {
	.image_block {
		.logo {
			right: calc(((#{var.$max_width} - 810px) / 2) - 20px);
		}
	}
}
