.content {
	padding: 20px;

	> p, > h2 {
		&:first-child {
			margin-top: 0;
		}
	}
}

@media(min-width: 40em) {
	.content {
		padding: 60px;
	}
}

@media(min-width: 60em) {
	.content {
		padding: 60px 0;

		p, h2, h3, h4, h5, h6 {
			max-width: calc(((100vw - 120px)/12) * 6);
		}
	}
}
