figure {
	display: flex;
	flex-wrap: wrap;

	&.wp-block-embed {
		&.is-provider-youtube,
		&.is-provider-vimeo {
			@extend %video_embed;
		}

		&.is-provider-soundcloud {
			@extend %audio_embed;
		}

		.wp-block-embed__wrapper {
			width: 100%;
		}
	}

	a {
		display: block;
	}

	figcaption {
		width: 100%;
	}

	&.alignright {
		justify-content: flex-end;
	}

	&.aligncenter {
		justify-content: center;
	}
}
