form {
	max-width: 700px;
	padding: 20px 0;

	label, input, textarea, select {
		@include mixins.text('l');
	}

	label {
		display: block;
		width: 100%;
		margin: 0 0 10px;
		padding: 0;
	}

	input, textarea, select {
		display: block;
		width: 100%;
		padding: 10px 16px;
		border: 2px solid var.$navy;
		border-radius: 0;
		background: var.$neutral_5;

		&::placeholder {
			opacity: 1;
			color: var.$neutral_4;
		}

		&[type='checkbox'], &[type='radio'] {
			position: absolute;
			opacity: 0;
			pointer-events: none;

			& + label {
				@include mixins.text('s');

				display: flex;
				position: relative;
				align-items: center;
				color: var.$neutral_500;
				font-weight: 500;

				&:before, &:after {
					display: block;
					border-radius: 2px;
				}

				&:before {
					content: '';
					width: 20px;
					height: 20px;
					margin-right: 14px;
					border: 1px solid var.$neutral_20;

					background: var.$white;
				}

				&:after {
					display: flex;
					position: absolute;
					left: 0;
					align-items: center;
					justify-content: center;
					width: 20px;
					height: 20px;
					background: var.$blue;
					color: var.$white;
					font-size: 20px;
				}
			}

			&:checked {
				& + label {
					&:after {
						content: '';
					}
				}
			}
		}

		&[type='radio'] {
			& + label {
				&:before, &:after {
					border-radius: 50%;
				}
			}
		}

		&[type='checkbox'] {
			&:checked {
				& + label {
					&:after {
						content: '✓';
					}
				}
			}
		}

		&[type='search'] {
			padding: 14px;
			color: var.$black;
			font-family: var.$font_main;
			font-size: 1em;
			font-weight: 400;
			text-transform: none;

			&::placeholder {
				opacity: 1;
			}
		}
	}

	select {
		padding: 10px;
	}

	textarea {
		height: 190px;
	}
}

.wpforms-field-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -40px;

	.wpforms-field {
		width: 100%;
		margin: 0 15px 40px;

		&.wpforms-one-half {
			flex-grow: 1;
			width: 45%;
		}
	}

	.wpforms-field-checkbox {
		ul, li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
}

.wpforms-label-hide {
	@include mixins.sr_hide;
}
