body {
	color: var.$colours_neutral_600;
	font-family: var.$font_main;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

a {
	color: var.$colours_forest;
	font-weight: 500;
	text-decoration: underline;

	@include mixins.gutenberg_text_colours;

	svg {
		width: auto;
		height: 1em;
		color: inherit;
	}

	&:hover {
		text-decoration: none;
	}
}

strong {
	font-weight: 800;
}

em {
	font-style: italic;
}

p {
	@include mixins.gutenberg_text_colours;
}

h1, h2, h3, h4, h5 {
	color: var.$colours_neutral_700;

	a {
		color: inherit;
		font-weight: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	&.has-text-color {
		@include mixins.gutenberg_text_colours;

		color: var(--text_colour);
	}
}

h1 {
	@include mixins.heading_text('h1');

	font-weight: 800;
}

h2 {
	@include mixins.heading_text('h2');

	font-weight: 700;
}

h3 {
	@include mixins.heading_text('h3');
}

h4 {
	@include mixins.heading_text('h4');
}

h5 {
	@include mixins.heading_text('h5');
}

h6 {
	@include mixins.heading_text('h6');
}

nav {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		@include mixins.invert_link();

		display: block;
		color: inherit;
	}
}

blockquote {
	@include mixins.child_reset;
	@include mixins.blockquote_text;
}

.btn, button, input[type='submit'] {
	@include mixins.buttons(var.$colours_blue, var.$colours_white, var.$colours_blue);

	svg {
		height: 1em;
	}
}

ul {
	&.arrows_list {
		@include mixins.list_reset_internal;

		margin-bottom: 120px;

		li {
			display: flex;
			align-items: center;
			margin: 12px 0;

			&:before {
				content: '';
				display: block;
				width: 46px;
				height: 1em;
				margin-right: 25px;
				background: url(var.$img + 'long_arrow_colour.svg');
				background-repeat: no-repeat;
				background-position: right center;
				background-size: auto 100%;
			}
		}

		a {
			@include mixins.invert_link;

			display: flex;
			align-items: center;
			color: inherit;

			svg {
				margin-right: 25px;
				color: var.$colours_magenta;
			}
		}
	}
}
