%events_block {
	@include drop_shadow_multiple('box', 'l', rgba(var.$colours_shadow, 0.1));

	position: relative;
	padding: 32px;
	background: var.$colours_white;
}

%events_block_title {
	@include heading_text('h4');

	margin: 0;

	a,
	button {
		@include block_link;

		display: inline;
		padding: 0;
		border: none;
		background: none;
		color: inherit;
		font: inherit;
		text-transform: inherit;

		&:focus {
			outline: none;

			&:before {
				outline: 3px solid var.$colours_red;
			}
		}
	}
}

%events_block_image {
	width: calc(100% + 64px);
	height: 260px;
	margin: -32px -32px 32px;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

%events_block_date {
	@include position(0, 0, auto, auto);

	position: absolute;
	width: 64px;
	height: 260px;
	margin: 0;
	padding: 30px 0;
	background: var.$colours_yellow;
	color: var.$colours_white;
	font-family: var.$font_headings;
	font-size: 1em;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;

	span {
		display: block;
		font-size: 1.5em;
		font-weight: 600;
	}

	svg {
		display: block;
		width: 20px;
		height: 20px;
		margin: 10px auto;
	}
}

%events_block_excerpt {
	margin: 20px 0 0;
}

%featured_event {
	@include full_background(var(--page_colour), var.$colours_navy);

	flex-basis: calc(100% - 30px);
	flex-shrink: 0;
	order: -1;
	max-width: unset;
	margin-bottom: 60px;

	&:before {
		z-index: -10;
		top: -10px;
		bottom: 50%;
	}
}

@media(min-width: 30em) {
	%featured_event {
		padding: 0.01px 0 0.01px 50%;
		clear: both;

		*[class*='module__image'] {
			@include position(0, 50%, 0, 0);

			position: absolute;
			width: 50%;
			height: 100%;
			margin: 0;
			object-fit: cover;
			object-position: center;
		}

		*[class*='module__title'] {
			margin-top: 32px;
			margin-left: 32px;
		}

		*[class*='module__excerpt'] {
			margin-bottom: 32px;
			margin-left: 32px;
			padding-right: 32px;
		}

		*[class*='module__date'] {
			right: 50%;
			height: 100%;
			margin: 0;
			padding-right: 0;
		}
	}
}

@media(min-width: 50em) {
	%featured_event {
		flex-basis: 100%;
		max-width: max_width(100vw, 120px, 9);
		padding-left: min(50%, max_width(100vw, 120px, 9)/2);

		&:before {
			width: 150vw;
		}
	}
}

@media(min-width: 60em) {
	%featured_event {
		flex-basis: 100%;
		max-width: max_width(100vw, 120px, 8);
		padding-left: min(50%, max_width(100vw, 120px, 8)/2);
	}
}

@media(min-width: var.$max_width) {
	%featured_event {
		max-width: max_width(var.$max_content, 0, 8);
		padding-left: min(50%, max_width(var.$max_content, 0, 8)/2);

		&:before {
			left: calc(-1 * (50vw - (var.$max_content / 2)));
			width: 100vw;
			transform: none;
		}
	}
}

@supports(grid-template-areas: '.') {
	%events_block {
		display: grid;
		grid-template-areas: 'image date' 'title title' 'excerpt excerpt';
		grid-template-columns: 1fr 64px;
		grid-template-rows: 266px auto auto;
		align-content: start;
		padding: 0;
	}

	%events_block_title {
		grid-area: title;
		margin: 32px 0 20px;
		padding: 0 32px;
	}

	%events_block_image {
		grid-area: image;
		margin: 0;
	}

	%events_block_excerpt {
		grid-area: excerpt;
		margin: 0 0 32px;
		padding: 0 32px;
	}

	%events_block_date {
		position: static;
		grid-area: date;
		margin: 0;
	}

	%featured_event {
		margin-bottom: 30px;
	}

	@media(min-width: 30em) {
		%featured_event {
			grid-column: 1 / -1;
			grid-row-gap: 20px;
			grid-template-areas: 'image title' 'image excerpt';
			grid-template-columns: 1fr 1fr;
			grid-template-rows: min-content min-content;

			*[class*='module__title'] {
				margin-bottom: 0;
				margin-left: 0;
			}

			*[class*='module__excerpt'] {
				margin-top: 0;
				margin-left: 0;
			}

			*[class*='module__date'] {
				position: absolute;
				grid-column: 1;
				grid-row: 1 / -1;
				margin: 0;
			}

			*[class*='module__image'] {
				width: 100%;
				margin: 0;
			}
		}
	}

	@media(min-width: 60em) {
		%featured_event {
			grid-template-rows: min-content minmax(min-content, 1fr);
			min-height: 260px;
		}
	}
}
