%content {
	> * {
		&:last-child {
			&:not([class*='wp-block']) {
				margin-bottom: 60px;
			}
		}
	}

	li {
		margin-bottom: 0.5em;
	}
}

@media(min-width: 50em) {
	%content {
		min-height: 400px;
		clear: both;

		p,
		h2,
		h3,
		h4,
		h5,
		h6,
		blockquote,
		hr,
		ul,
		.wp-block-image {
			max-width: max_width(100vw, 120px, 6);
		}

		hr {
			margin-left: 0;
		}

		> * {
			&:last-child {
				&:not([class*='wp-block']) {
					margin-bottom: 120px;
				}
			}
		}
	}
}
