.title {
	@extend %events_block_title;

	width: 100%;
	margin: 0;
}

.image {
	@extend %events_block_image;

	grid-area: image;
	width: 100%;
	margin: 20px 0;
}

.cart {
	@include mixins.buttons(var.$colours_blue, var.$colours_white, var.$colours_blue);

	flex: 0 0 40%;
	width: auto;
	text-align: center;
	white-space: nowrap;
}

.cart.cart {
	display: inline-block;
}

.price {
	flex: 1 1 auto;
	margin: 0 20px 0 0;
	font-size: 1.5em;
	font-weight: 500;
}

@supports(grid-template-areas: '.') {
	.title {
		margin: 0;
		// grid-area: title;
		padding: 0;
	}

	.cart {
		position: static;
		grid-area: cart;
	}

	.price {
		position: static;
		grid-area: price;
		margin: 0;
	}

	.image {
		grid-area: image;
	}
}
